@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroup>

@{
  ViewBag.Title = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>
<br />

<table class="table table-hover">
  <thead class="bg-primary">
    <tr>
      <th scope="col">
        Enrollment Date
      </th>
      <th scope="col">
        Students
      </th>
    </tr>
  </thead>
  <tbody>

    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.EnrollmentDate)
        </td>
        <td>
          @item.StudentCount
        </td>
      </tr>
    }
  </tbody>
</table>
